body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 60px 20px; /* Add top padding for navbar */
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: auto;
}

.dictionary {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next row */
    gap: 20px; /* Space between each entry */
    justify-content: center;
}

.unit-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: 10px 0;
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* Gradient background */
    transition: transform 0.3s; /* Smooth transform effect */
}

.unit-block:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.word-entry {
    flex: 1 1 calc(50% - 20px); /* Each item takes up 50% width minus the gap */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    background-color: #f9f9f9; /* Light background color */
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

.word-entry:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}

.word-entry h3 {
    margin: 0;
    color: midnightblue; /* Dark grey for headings */
}

.word-entry p {
    margin: 5px 0;
    color: #666666; /* Medium grey for text */
}

button {
    background-color: cadetblue; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 15px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline block */
    font-size: 16px; /* Larger font size */
    margin: 4px 2px; /* Margins */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
    position: absolute;
    right: 10px;
}

button:hover {
    background-color: mediumpurple; /* Darker green on hover */
}

